<br>
<!-- ========== FOOTER ========== -->
<footer class="w-full max-w-2xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="py-6 border-t border-footer-line">
    <div class="flex flex-wrap justify-between items-center gap-2">
      <div>
        <p class="text-md text-muted-foreground-2">
          © 2026 Victor Bautista.
        </p>
      </div>
      <!-- End Col -->

      <!-- List -->
      <ul class="flex flex-wrap items-center">
        <li
          class="inline-block relative pe-4 text-xs last:pe-0 last-of-type:before:hidden before:absolute before:top-1/2 before:end-1.5 before:-translate-y-1/2 before:size-[3px] before:rounded-full before:bg-surface-3">
          <a class="text-lg text-muted-foreground-1 underline hover:text-primary-hover hover:decoration-2 focus:outline-hidden focus:decoration-2"
            href="https://www.linkedin.com/in/victor-lisander/" target="_blank">
            Linkedin
          </a>
        </li>
        <li
          class="inline-block relative pe-4 text-xs last:pe-0 last-of-type:before:hidden before:absolute before:top-1/2 before:end-1.5 before:-translate-y-1/2 before:size-[3px] before:rounded-full before:bg-surface-3">
          <a class="text-lg text-muted-foreground-1 underline hover:text-primary-hover hover:decoration-2 focus:outline-hidden focus:decoration-2"
            href="mailto:lixanderinfante@gmail.com" target="_blank">
            Correo
          </a>
        </li>
        <li class="inline-block pe-4 text-xs">
          <a class="text-lg text-muted-foreground-1 underline hover:text-primary-hover hover:decoration-2 focus:outline-hidden focus:decoration-2"
            href="https://github.com/Lisander-Bautista" target="_blank">
            Github
          </a>
        </li>
      </ul>
      <!-- End List -->
    </div>
  </div>
</footer>
<!-- ========== END FOOTER ========== -->
