<br>
<h1 class="mb-5 font-medium text-lg font-semibold">Cursos y certificaciones</h1>

<!-- List -->
<ul class="space-y-5">

  <li>
    <p class="font-medium text-lg text-foreground">
      <img src="assets/Indotel.png" class="inline-flex w-14 h-8" alt="Logo Coursera">
      Talento Digital, Indotel
    </p>
    <h5 class="mb-2 text-md text-muted-foreground-1">
      Desarrollo Web Full Stack > 2026 >
      <a class="text-md font-medium text-muted-foreground-1 underline hover:text-primary-hover hover:decoration-2 focus:outline-hidden focus:decoration-2"
        href="assets/PDFs/Desarrollo Web Full Stack.pdf" target="_blank">
        Certificado
      </a>
    </h5>
  </li>

  <li>
    <p class="font-medium text-lg text-foreground">
      <img src="assets/ITLA.png" class="inline-flex w-15 h-9" alt="Logo Coursera">
      Instituto Tecnologico de las Americas
    </p>
    <h5 class="mb-2 text-md text-muted-foreground-1">
      Curso Desarrollo Web Front-End con Angular > 2026 >
      <a class="text-md font-medium text-muted-foreground-1 underline hover:text-primary-hover hover:decoration-2 focus:outline-hidden focus:decoration-2"
        href="assets/PDFs/Curso Desarrollo Web Front-End con Angular.pdf" target="_blank">
        Certificado
      </a>
    </h5>
  </li>

  <li>
    <p class="font-medium text-lg text-foreground">
      <img src="assets/Coursera.png" class="inline-flex w-7 h-7" alt="Logo Coursera">
      Coursera
    </p>
    <h5 class="mb-2 text-md text-muted-foreground-1">
      Introducción a las tecnologías de la información y a la nube de AWS > 2025 >
      <a class="text-md font-medium text-muted-foreground-1 underline hover:text-primary-hover hover:decoration-2 focus:outline-hidden focus:decoration-2"
        href="https://coursera.org/share/3063fb8a8ad6380b9b62a3b9a9f75d2c" target="_blank">
        Certificado
      </a>
    </h5>
  </li>

  <li>
    <p class="font-medium text-lg text-foreground">
      <img src="assets/Coursera.png" class="inline-flex w-7 h-7" alt="Logo Coursera">
      Coursera
    </p>
    <h5 class="mb-2 text-md text-muted-foreground-1">
      Desarrollo de aplicaciones front-end con React > 2025 >
      <a class="text-md font-medium text-muted-foreground-1 underline hover:text-primary-hover hover:decoration-2 focus:outline-hidden focus:decoration-2"
        href="https://coursera.org/share/b57cd4535135c7ca9e732b90cf5133c3" target="_blank">
        Certificado
      </a>
    </h5>
  </li>

  <li>
    <p class="font-medium text-lg text-foreground">
      <img src="assets/Coursera.png" class="inline-flex w-7 h-7" alt="Logo Coursera">
      Coursera
    </p>
    <h5 class="mb-2 text-md text-muted-foreground-1">
      Introducción al desarrollo de software Agile y Scrum > 2025 >
      <a class="text-md font-medium text-muted-foreground-1 underline hover:text-primary-hover hover:decoration-2 focus:outline-hidden focus:decoration-2"
        href="https://coursera.org/share/a0aedc613c83be4b562aa6aa25622543" target="_blank">
        Certificado
      </a>
    </h5>
  </li>

  <li>
    <p class="font-medium text-lg text-foreground">
      <img src="assets/Coursera.png" class="inline-flex w-7 h-7" alt="Logo Coursera">
      Coursera
    </p>
    <h5 class="mb-2 text-md text-muted-foreground-1">
      Introducción a los contenedores con Docker, Kubernetes y OpenShift > 2025 >
      <a class="text-md font-medium text-muted-foreground-1 underline hover:text-primary-hover hover:decoration-2 focus:outline-hidden focus:decoration-2"
        href="https://coursera.org/share/04869d54c3ca2f6e0bf250b401b83f75" target="_blank">
        Certificado
      </a>
    </h5>
  </li>

  <li>
    <p class="font-medium text-lg text-foreground">
      <img src="assets/Coursera.png" class="inline-flex w-7 h-7" alt="Logo Coursera">
      Coursera
    </p>
    <h5 class="mb-2 text-md text-muted-foreground-1">
      Desarrollo de aplicaciones back-end con Node.js y Express > 2025 >
      <a class="text-md font-medium text-muted-foreground-1 underline hover:text-primary-hover hover:decoration-2 focus:outline-hidden focus:decoration-2"
        href="https://coursera.org/share/30da3f62b40c7a3174c49666d4022bc1" target="_blank">
        Certificado
      </a>
    </h5>
  </li>

  <li>
    <p class="font-medium text-lg text-foreground">
      <img src="assets/Coursera.png" class="inline-flex w-7 h-7" alt="Logo Coursera">
      Coursera
    </p>
    <h5 class="mb-2 text-md text-muted-foreground-1">
      Control de Versiones > 2025 >
      <a class="text-md font-medium text-muted-foreground-1 underline hover:text-primary-hover hover:decoration-2 focus:outline-hidden focus:decoration-2"
        href="https://coursera.org/share/b19c023a5008ddfba9b9b02d96612bd4" target="_blank">
        Certificado
      </a>
    </h5>
  </li>

  <li>
    <p class="font-medium text-lg text-foreground">
      <img src="assets/Coursera.png" class="inline-flex w-7 h-7" alt="Logo Coursera">
      Coursera
    </p>
    <h5 class="mb-2 text-md text-muted-foreground-1">
      Programacion con JavaScript > 2024 >
      <a class="text-md font-medium text-muted-foreground-1 underline hover:text-primary-hover hover:decoration-2 focus:outline-hidden focus:decoration-2"
        href="https://coursera.org/share/078d07a953649dfa84773a63310a2ec2" target="_blank">
        Certificado
      </a>
    </h5>
  </li>

</ul>
<!-- End List -->
