<!-- Grid -->
<div id="education">
  <br>
  <h1 class="mb-5 font-medium text-lg font-semibold">Formacion Academica</h1>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">

    <div class="p-4 bg-card border border-card-line rounded-lg">
      <img src="/assets/Politecnico.jpg" class="w-24 h-24 mx-auto" alt="Logo">
      <h3 class="mb-1 text-md text-muted-foreground-2">
        2013 - 2021
      </h3>

      <p class="font-semibold text-md text-foreground">
        Bachillerato Tecnico en Informatica
      </p>

      <p class="mt-1 text-md text-muted-foreground-2">
        Politecnico Virgen de la Altagracia
      </p>
    </div>

    <div class="p-4 bg-card border border-card-line rounded-lg">
      <img src="/assets/Universidad.jpg" class="w-24 h-24 mx-auto" alt="Logo">
      <h3 class="mb-1 text-md text-muted-foreground-2">
        2021 - 2026
      </h3>

      <p class="font-semibold text-md text-foreground">
        Ingenieria en Sistemas y Computacion
      </p>

      <p class="mt-1 text-md text-muted-foreground-2">
        Universidad Dominicana O&M
      </p>
    </div>
  </div>
</div>
<!-- End Grid -->
