<!-- Timeline -->
<div id="experience">
  <br>
  <!-- Item -->
  <h1 class="mb-5 font-medium text-lg font-semibold">Experiencia Laboral</h1>
  <div class="group relative flex gap-x-5">

    <!-- Icon -->
    <div
      class="relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:-translate-x-[0.5px] after:border-s after:border-line-2">
      <div class="relative z-10 size-6 flex justify-center items-center">
        <img src="/assets/Logo_altice.png" alt="Logo">
      </div>
    </div>
    <!-- End Icon -->

    <!-- Right Content -->
    <div class="grow pb-8 group-last:pb-0">
      <h3 class="mb-1 text-xs text-muted-foreground-2">
        2023 - Actual
      </h3>

      <p class="font-semibold text-sm text-foreground">
        B2C Technical Support - Tecnico de facilidades
      </p>

      <p class="mt-1 text-sm text-muted-foreground-2 text-justify">
        Altice Dominicana es la segunda empresa más grande de telecomunicaciones en la República Dominicana. En este
        puesto brindo soporte técnico remoto para servicios residenciales fijos, incluyendo internet, televisión por
        cable y telefonía.
      </p>

      <ul class="list-disc ms-6 mt-3 space-y-1.5">
        <li class="ps-1 text-sm text-muted-foreground-2 text-justify">
          Configuración y reprovisionamiento remoto de servicios del hogar mediante herramientas internas y plataformas
          de terceros como Huawei para conexiones de fibra óptica.
        </li>
        <li class="ps-1 text-sm text-muted-foreground-2 text-justify">
          Gestión de información del cliente y configuraciones de servicios a través de sistemas CRM.
        </li>
        <li class="ps-1 text-sm text-muted-foreground-2 text-justify">
          Configuración de servicios VoIP en terminales como Procomm.
        </li>
        <li class="ps-1 text-sm text-muted-foreground-2 text-justify">
          Atención y seguimiento de requerimientos mediante sistemas de tickets, órdenes de servicio, colas de llamadas
          compartidas, Microsoft Teams y Microsoft Outlook.
        </li>
        <li class="ps-1 text-sm text-muted-foreground-2 text-justify">
          Escalamiento de casos complejos a los departamentos correspondientes y seguimiento hasta su resolución.
        </li>
      </ul>
    </div>
    <!-- End Right Content -->
  </div>
  <!-- End Item -->

  <!-- Item -->
  <div class="group relative flex gap-x-5">
    <!-- Icon -->
    <div
      class="relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:-translate-x-[0.5px] after:border-s after:border-line-2">
      <div class="relative z-10 size-8 flex justify-center items-center">
        <img src="/assets/Logo_adriantropical.png" alt="Logo">
      </div>
    </div>
    <!-- End Icon -->

    <!-- Right Content -->
    <div class="grow pb-8 group-last:pb-0">
      <h3 class="mb-1 text-xs text-muted-foreground-2">
        2021 - 2023
      </h3>

      <p class="font-semibold text-sm text-foreground">
        Coordinador de entrega
      </p>

      <p class="mt-1 text-sm text-muted-foreground-2 text-justify">
        Adrian Tropical es uno de los restaurantes más reconocidos de la República Dominicana, especializado en comida
        criolla tradicional. En este rol fui responsable de coordinar la entrega eficiente de pedidos, asegurando una
        experiencia fluida para los clientes.
      </p>

      <div class="mt-3">
        <!-- Card -->
        <a class="block bg-layer border border-layer-line rounded-lg hover:shadow-2xs focus:outline-hidden"
          href="https://www.instagram.com/p/CrYaT0SoNfR/" target="_blank">
          <div class="relative flex items-center overflow-hidden">
            <img class="w-32 sm:w-48 h-full absolute inset-0 object-cover rounded-s-lg"
              src="/assets/AdrianSanvicente.jpg" alt="Blog Image">

            <div class="grow p-4 ms-32 sm:ms-48">
              <div class="min-h-24 flex flex-col justify-center">
                <h3 class="font-semibold text-sm text-foreground">
                  Adrian Tropical San Vicente
                </h3>
                <p class="mt-1 text-sm text-muted-foreground-2 text-justify">
                  ¿Ya nos visitaste en Adrian Tropical San Vicente?☺️❤️🇩🇴 (Av. San Vicente de Paúl esq. Costa Rica
                  181, Santo Domingo Este).
                </p>
              </div>
            </div>
          </div>
        </a>
        <!-- End Card -->
      </div>
    </div>
    <!-- End Right Content -->
  </div>
  <!-- End Item -->

  <div class="group relative flex gap-x-5">
  </div>

</div>
<!-- End Timeline -->
